.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 80vh;
  min-height: 80dvh;
  gap: 1rem;
}

.heroTextContent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 10px;
  min-width: 50%;
  max-width: 400px;
  width: clamp(55%, 400px, 100%);
}
.heroImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: fit-content;
}
.heroImg {
  width: clamp(45vw, auto, 85vw);
  aspect-ratio: 1/1;
  object-fit: contain;
}
.brandImg {
  height: 25px;
  width: fit-content;
}
.brandContainer {
  margin-top: 30px;
}
.brandImgContainer {
  display: flex;
  margin-top: 10px;
  gap: 20px;
}
.brandImgContainer:nth-child(1) {
  height: 70px;
}
.heroTextContent > span {
  width: fit-content;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.brandInfo {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 30px 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.brandInfo > div {
  display: flex;
  flex-direction: column;
}
.brandInfo > div > span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
}
.brandInfo > div > p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.heroActionButton {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .hero {
    max-height: 600px;
  }
}
@media (max-width: 820px) {
  .hero {
    flex-direction: column-reverse;
    padding-block: 30px;
  }
  .heroTextContent {
    width: 100%;
    gap: 5px;
  }
  .heroTextContent h1 {
    margin-bottom: 16px;
  }
  .heroTextContent p {
    margin-bottom: 10px;
  }

  .heroImgContainer {
    width: 100%;
  }
  .heroImg {
    max-height: 200px;
  }
  .heroActionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90% !important;
    margin-inline: auto !important;
    gap: 10px 20px;
    margin-bottom: 40px;
  }
  .heroActionButton button {
    display: block;
    width: inherit !important;
    flex-grow: 1;
  }
  .brandInfo {
    justify-content: center;
  }
  .brandImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .brandContainer > span {
    text-align: center;
    display: block;
  }
  .brandImg {
    height: 40px;
  }
}
