:root {
  --primary-color: 19, 24, 66;
  --secondary-color: 230, 131, 105;
  --tertiary-color: 236, 206, 174;
  --background-primary: 251, 246, 226;
  --border-color: 219, 219, 219;
  --text-color: 51, 51, 51;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: rgba(var(--primary-color), 1);
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: inherit;
}

.formSection,
.infoSection {
  flex: 1;
  min-width: 300px;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: rgba(var(--primary-color), 1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: clamp(50%, 100%, 350px);
  margin: 0 auto;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.input,
.textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.textarea {
  height: 150px;
  resize: vertical;
}

.submitButton {
  padding: 0.75rem 1rem;
  background-color: rgba(var(--primary-color), 1);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.submitButton:hover {
  background-color: rgba(var(--primary-color), 0.8);
}

.contactInfo p {
  margin-bottom: 0.5rem;
}

.link {
  color: #3498db;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.mapPlaceholder {
  margin-top: 1rem;
  height: 300px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
  }
}
