:root {
  --primary-color: 19, 24, 66;
  --secondary-color: 230, 131, 105;
  --tertiary-color: 236, 206, 174;
  --background-primary: 251, 246, 226;
  --border-color: 219, 219, 219;
  --text-color: 51, 51, 51;
}
.minimal {
  color: rgba(var(--background-primary), 1);
  background-color: rgba(var(--primary-color), 1);
  border: 1px solid rgba(var(--background-primary), 1);
  transition: all 300ms ease;
}
.minimal:hover {
  background-color: rgba(var(--secondary-color), 1);
  transform: scale(1.05);
}
.flare {
  background-color: rgba(var(--secondary-color), 1);
  border: none;
  color: whitesmoke;
  transition: all 300ms ease;
}
.flare:hover {
  background-color: rgba(var(--tertiary-color), 1);
  color: rgba(var(--text-color), 1);
  transform: scale(1.05);
}
.dropShadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 15px 30px -15px,
    rgba(10, 37, 64, 0.35) 0px -1px 3px 0px inset;
}
