.minimal {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.minimal:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.flare {
  background-color: black;
  border: none;
  color: whitesmoke;
}
.flare:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(226, 226, 226);
}
.dropShadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 15px 30px -15px,
    rgba(10, 37, 64, 0.35) 0px -1px 3px 0px inset;
}
