.cardContainer {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
  gap: 10px;
  padding: 1rem;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  place-items: center;
  max-width: clamp(300px, 100%, 1200px);
}
.cardContainer > * {
  max-width: 95%;
}

@media screen and (min-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
@media screen and (min-width: 1280px) {
  .cardContainer {
    grid-template-columns: repeat(4, minmax(300px, 1fr));
  }
}
@media screen and (max-width: 500px) {
  .cardContainer {
    grid-template-columns: minmax(300px, 1fr);
  }
  .cardContainer > * {
    max-width: 90% !important;
  }
}
