:root {
  --primary-color: 19, 24, 66;
  --secondary-color: 230, 131, 105;
  --tertiary-color: 236, 206, 174;
  --background-primary: 251, 246, 226;
  --border-color: 219, 219, 219;
  --text-color: 51, 51, 51;
}
/* :root {
  --primary-color: rgb(19, 24, 66);
  --secondary-color: rgb(230, 131, 105);
  --tertiary-color: rgb(236, 206, 174);
  --background-primary: rgb(251, 246, 226);
  --border-color: rgb(219, 219, 219);
  --text-color: rgb(51, 51, 51);
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
  background-color: rgba(var(--primary-color), 1);
  color: rgba(var(--background-primary), 1);
  position: sticky;
  top: 0;
  z-index: 990;
}
.header h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(var(--background-primary), 1);
}

.navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  position: absolute;
  right: 2rem;
  top: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 400ms ease;
  /* background-color: rgb(250, 245, 245); */
  z-index: 999;
}

.navLink {
  font-weight: 300;
  text-decoration: none;
  color: rgba(var(--secondary-color), 1);
  text-anchor: middle;
  border-left: 2px solid transparent;
  padding-left: 5px;
  margin: 0.5rem 0;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease;
}

.navLink:hover,
.navLink.active {
  font-weight: 500;
  border-left: 2px solid rgba(var(--secondary-color), 1);
}

.burger {
  padding: 5px 7px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 900;
  user-select: none;
}

@media (max-width: 768px) {
  .navigation {
    visibility: hidden;
    transform: translateY(-20px);
    opacity: 0;
    width: 220px;
    align-items: flex-start;
    gap: 10px 20px;
    padding: 16px;
    background-color: rgba(var(--background-primary), 1);
  }
  .navLink.active,
  .navLink:hover {
    color: rgba(var(--primary-color), 1);
    border-left: 2px solid rgba(var(--primary-color), 1);
  }
  .actionButton span {
    color: rgba(var(--primary-color), 1);
  }
}

.open {
  visibility: visible;
  transform: translateY(0);
  height: auto;
  opacity: 1;
}

@media (min-width: 768px) {
  .burger {
    display: none !important;
  }
  .searchIcon {
    display: flex !important;
  }

  .navigation {
    display: flex;
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    position: relative;
    border: none;
    flex-direction: row;
    gap: 25px;
  }

  .navLink {
    text-align: start;
    padding-left: 0;
    border-left: none;
    border-bottom: 2px solid transparent;
    color: rgba(var(--border-color), 1);
  }

  .navLink.active,
  .navLink:hover {
    border-left: none;
    border-bottom: 2px solid rgba(var(--secondary-color), 1);
    color: rgba(var(--border-color), 1);
  }
}

.actionButton {
  cursor: pointer;
  justify-content: space-evenly !important;
  align-items: center;
  text-align: center;
}
