.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup_content {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  max-height: 95vh;
  position: relative;
}
.CloseButton {
  cursor: pointer;
  margin-left: auto;
  display: block;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.CloseButton:hover {
  background-color: transparent;
}
.wrongPassword {
  color: rgb(221, 35, 35);
}
.title {
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
