.ProductContainer {
  display: grid;
  place-items: center;
  gap: 12px;
  margin-top: 2rem;
  padding: 1rem;
  margin-inline: auto;
  background-color: #bebebe;
  min-height: 600px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40px 4fr;
  grid-template-areas:
    "SuggestSlider SuggestSlider SuggestSlider SuggestSlider"
    "ProductFilter ProductCardContainer ProductCardContainer ProductCardContainer";
  max-width: 100%;
  overflow: hidden;
  position: relative;
  max-height: 100vh;
  max-height: 100dvh;
}
.ProductContainer > * {
  height: 100%;
  width: 100%;
}
@media (max-width: 460px) {
  .ProductContainer {
    grid-template-columns: 1fr 70px;
    grid-template-rows: 40px 1fr;
    grid-template-areas:
      "SuggestSlider ProductFilter"
      "ProductCardContainer ProductCardContainer";
  }
}

@media (min-width: 461px) and (max-width: 886px) {
  .ProductContainer {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 40px 1fr 1fr;
    grid-template-areas:
      "SuggestSlider SuggestSlider"
      "ProductFilter ProductCardContainer"
      "ProductFilter ProductCardContainer";
  }
}

@media (min-width: 886px) and (max-width: 1280px) {
  .ProductContainer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 1fr 1fr;
    grid-template-areas:
      "SuggestSlider SuggestSlider SuggestSlider SuggestSlider"
      "ProductFilter ProductCardContainer ProductCardContainer  ProductCardContainer"
      "ProductFilter ProductCardContainer ProductCardContainer  ProductCardContainer";
  }
}
