.SuggestSlider {
  grid-area: SuggestSlider;
  border: 1px solid #000;
  display: grid;
}
.SuggestSlider ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline: 1rem;
  overflow-x: scroll;
  list-style-type: none;
  padding-bottom: auto;
}
.SuggestSlider ul li {
  flex-shrink: 0;
  padding-inline: 1rem;
  height: 30px;
  margin-inline: 16px;
  backdrop-filter: blur(1px) saturate(159%);
  -webkit-backdrop-filter: blur(1px) saturate(159%);
  background-color: rgba(255, 255, 255, 0.47);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  cursor: pointer;
}
